source https://www.nuget.org/api/v2

group Main
    framework: net452
	source https://www.nuget.org/api/v2
    
    nuget System.Reactive

group StructureMap
	framework: net452
    source https://www.nuget.org/api/v2

    nuget StructureMap ~> 3.1

group Test
	framework: net452
    source https://www.nuget.org/api/v2

nuget FluentAssertions
    nuget NSubstitute
	nuget NUnit
    nuget NUnit.Runners
	nuget Microsoft.Reactive.Testing

group Build
	framework: net452
    source https://www.nuget.org/api/v2

    nuget NUnit.Runners