source https://www.nuget.org/api/v2

group Main
    framework: net452
	source https://www.nuget.org/api/v2
    
    nuget System.Reactive.Linq

group StructureMap
	framework: net452
    source https://www.nuget.org/api/v2

    nuget StructureMap ~> 3.1

group Files
	framework: net452
    source https://www.nuget.org/api/v2

    nuget Newtonsoft.Json

group Test
	framework: net452
    source https://www.nuget.org/api/v2

nuget FluentAssertions
    nuget NSubstitute
	nuget NUnit
    nuget NUnit.Runners
	nuget Microsoft.Reactive.Testing

group Build
	framework: net452
    source https://www.nuget.org/api/v2

    nuget FAKE
    nuget NUnit.Runners